.App {
  text-align: center;
  font-family: 'arbotek', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.App h1, .App h2, .App h3, .App h4, .App h5{
  font-family: 'arbotek',sans-serif;
  font-weight: 900;
  font-style: normal;
}

body{
  overflow-x: hidden
}
